<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <div class="header">
    <div class="containter">
      <div class="row">
        <div class="menu col-xs-8">
          <ul>
            <li><a href="/">Welcome</a><li>
            <li><a href="portfolio">Portfolio</a><li>
            <li><a href="blog">Blog</a><li>
            <li><a href="about">About</a><li>
            <li><a href="contact">Contact</a><li>
          </ul>
        </div>
        <div class="menu col-xs-4">
          <h1>Shannon Kay</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="main home">
    <div class="jumbotron">
      <div class="container">
        <h2>Hello. My name is <span class="highlight">Shannon Kay</span>. This is my portfolio!</h2>
        <a class="btn right" href="portfolio">View my work</a>
      </div>
    </div>
  </div>
  <div class="container">
    <ul class="social media">
      <li><a class="github" href="https://ibb.co/L0XZ4zW">github</a></li>
    </ul>
    <p>&copy; 2020 Shannon Kay</p>
  </div>
</body>
</html>